[submodule "third_party/XLens"]
	path = third_party/XLens
	url = https://github.com/zhouhengamerica/XLens.git
[submodule "third_party/MEMFOF"]
	path = third_party/MEMFOF
	url = https://github.com/msu-video-group/memfof.git
[submodule "third_party/LagerNVS"]
	path = third_party/LagerNVS
	url = https://github.com/facebookresearch/lagernvs.git
