# config.yaml

dataset:
  hdf5_path: ../../data/robosuite/stack.hdf5
  batch_size: 64
  num_workers: 8
  pin_memory: true
  train_ratio: 0.90
  seed: 42
  num_episodes: 120

train:
  max_global_steps: 250000
  num_epochs: 100
  lr: 3.0e-5
  device: cuda:2
  eval_every: 50
  save_every: 5000
  ckpt_dir: ./checkpoints/robosuite-stack/
  resume_from_last: false

  # loss weights
  rec_weight: 1.0
  ssim_weight: 0.2
  vq_weight: 0.25
  inv_contrastive_weight: 1.0
  dep_contrastive_weight: 0.1
  temperature: 0.07

  # camera prediction
  predict_camera_params: false
  pose_cycle_weight: 0.001
  crossview_start_step: 1500

splatter:
  data:
    znear: 0.1
    zfar: 2.5
    white_background: false
    inverted_x: false
    inverted_y: false
    category: generic

  model:
    max_sh_degree: 1
    isotropic: false
    num_gaussians_per_pixel: 4
    depth_scale: 0.1
    depth_bias: -0.7
    xyz_scale: 0.1
    xyz_bias: 0.0
    opacity_scale: 1.0
    opacity_bias: -2.0
    scale_scale: 0.02
    scale_bias: -4.0

swin:
  # Swin-Tiny architecture
  embed_dim: 96          # C
  depths: [2, 2, 6, 2]   # layers per stage
  num_heads: [3, 6, 12, 24]

  # Image & patching
  patch_size: 4 
  window_size: 7

  # Standard Swin defaults
  mlp_ratio: 4.0
  qkv_bias: true
  drop_rate: 0.0
  attn_drop_rate: 0.0
  drop_path_rate: 0.1

  ape: false
  patch_norm: true
  use_checkpoint: false
  pretrained_window_sizes: [0, 0, 0, 0]

codebook:
  invariant:
    n_embed: 512
    embed_dim: 64
    beta: 0.25
  dependent:
    n_embed: 512
    embed_dim: 64
    beta: 0.25

model:
  fusion_style: plus          # 'cat' or 'plus'
  use_dependent_vq: true
  is_dependent_ae: false
  use_invariant_vq: true
  is_invariant_ae: false

wandb:
  project: robosuite-SplatterVAE
  entity: null
