# config.yaml

dataset:
  hdf5_path: ../../data/mimicgen/multiview/coffee_d1_multiview.hdf5
  batch_size: 128
  num_workers: 8
  pin_memory: true
  train_ratio: 0.90
  seed: 42
  num_episodes: 120

train:
  num_epochs: 38
  lr: 3.0e-5
  device: cuda:3
  eval_every: 50
  save_every: 5000
  ckpt_dir: ./checkpoints/default/
  resume_from_last: false

  # loss weights
  rec_weight: 1.0
  vq_weight: 0.25
  inv_contrastive_weight: 1.0
  dep_contrastive_weight: 0.1
  temperature: 0.07

  # camera prediction
  predict_camera_params: true
  pose_cycle_weight: 0.001
  crossview_start_step: 1500

splatter:
  data:
    znear: 0.1
    zfar: 2.5
    white_background: false
    inverted_x: false
    inverted_y: false
    category: generic

  model:
    max_sh_degree: 1
    isotropic: false
    num_gaussians_per_pixel: 4
    depth_scale: 0.1
    depth_bias: -0.7
    xyz_scale: 0.1
    xyz_bias: 0.0
    opacity_scale: 1.0
    opacity_bias: -2.0
    scale_scale: 0.02
    scale_bias: -4.0

transformer:
  # STTransConfig fields; block_size & n_tokens_per_frame
  # will be overwritten based on image size
  block_size: 64
  vocab_size: 0
  n_tokens_per_frame: 64
  n_layer: 8
  n_head: 8
  n_embed: 256
  dropout: 0.1
  bias: false
  mask_rate: null

codebook:
  invariant:
    n_embed: 512
    embed_dim: 64
    beta: 0.25
  dependent:
    n_embed: 512
    embed_dim: 64
    beta: 0.25

model:
  fusion_style: plus          # 'cat' or 'plus'
  use_dependent_vq: true
  is_dependent_ae: false
  use_invariant_vq: true
  is_invariant_ae: false

  # grid of tokens (e.g., 8x8 = 64 tokens)
  grid_tokens_h: 8
  grid_tokens_w: 8

wandb:
  project: MimicGen-SplatterVAE
  entity: null
